.btnShow {
    margin: 10px 0 10px 0;
    height: 30px;
    background-color: var(--color-button);
    color: var(--color-main);
    border: none;
    border-radius: 5px;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
}


.btnActive {
    background-color: var(--color-main);
    margin: 10px 0 10px 0;
    height: 28px;
    border: 1px solid var(--color-stroke);
    color: var(--color-stroke);
    border-radius: 5px;
}